.details-container{ 
    display: flex;
    .ImageContainer{
      width: 50%;
      height: 350px;
      display: flex;
      gap: 20px;
      .bigImage{
        flex:2;
        .FirstImage{     
           border-radius: 10px;
        }
      }
      .smallImages{
           flex: 1;
      }
    }
    .info{
      margin-top: 10px;
      margin-left: 300px;
       .location{
           display: flex;
           align-items: center;
           gap: 10px;
           h2{
             font-weight: 800;
             margin-top: 50px;
           }
          }
          .price{
             padding: 10px;
             background-color: sandybrown;
             border-radius: 5px;
             width: max-content;
             font-size: 20px;
             font-weight: 300;
             margin-top: 50px;
       }
       .bottom{
        margin-top: 50px;
        color: slategrey;
        line-height: 20px;
       }
      }
  }
